<nb-card size="medium">
  <div class="team-photo">
    <a href="mailto:sea-dev.dsit@rte-france.com">
      <button type="button" class="btn btn-success btn-icon team-link">
        <em class="ion-paper-airplane"></em>
      </button>
    </a>
  </div>

  <div class="team-info">
    <div class="team-title">
      <h2>Apogee Team</h2>
    </div>
    <div class="team-bio">
      We're small team of fullstack software experts. We're crazy about creation of modern and secure software. We help to make
      your product amazing.
    </div>
  </div>
</nb-card>
